services:
  auth-service:
    build: .
    ports:
      - "8090:8080"
    container_name: demo-structure-container
    depends_on:
      - db

  db:
    image: postgres:18
    container_name: db-container
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PGDATA=/var/lib/postgresql/data/new_db/
    ports:
      - '5440:5432'
    volumes:
      - database_data:/var/lib/postgresql/data

volumes:
  database_data: